
{% extends "profile/base.html.twig" %}


{% block main %}

        <main>
            <section class="section">
                {% for book in lastBooks %}
                    <div class="card">
                        <div class="card-text">
                            <h2>{{ book.title }}</h2>
                            {% if book.author %}
                                <h3>{{ book.author.fisrtName }} {{ book.author.lastName }}</h3>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
                <a href="{{ path('profile_books') }}">Voir tous les livres</a>
            </section>

            <section class="section">
                {% for author in lastAuthors %}
                    <div class="card">
                        <div class="card-text">
                            <h2>{{ author.fisrtName }} {{ author.lastName }}</h2>
                        </div>
                    </div>
                {% endfor %}
                <a href="{{ path('profile_authors') }}">Voir tous les auteurs</a>
            </section>
        </main>
    {% endblock main%}



