
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block metatitle %}La bibliothèque pour tous{% endblock metatitle%}</title>
    <link rel="stylesheet" href="{{ asset('asset/css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('asset/css/article.css') }}">
    <link rel="stylesheet" href="{{ asset('asset/css/author.css') }}">
    <link rel="stylesheet" href="{{ asset('asset/css/base.css') }}">

</head>
<body>
<header class="header">
    <h1>BIBLIOTHÈQUE DES PASSIONNÉS</h1>
    <nav class="navbar">
        <ul class="menu">
            <li class="main-menu-element">
                <a href="{{ path('home') }}">Accueil</a>
            </li>
            <li class="main-menu-element">
                <a href="{{ path('admin_books') }}">Les livres</a>
            </li>
            <li class="main-menu-element">
                <a href="{{ path('authors') }}">Les auteurs</a>
            </li>
        </ul>
    </nav>
</header>
<main>

    {% block main %}{% endblock main %}


</main>
<footer class="footer">
    <div class="footer-group">
        <div class="footer-elements">
            <ul>
                <li><span>A propos</span></li>
                <li>Equipe</li>
                <li>Avis clients</li>
                <li>Conditions générales</li>
                <li>Mentions légales</li>
            </ul>
        </div>
    </div>
</footer>
</body>
</html>